In [9]:
import pandas as pd
import numpy as np
from xgboost import XGBClassifier


import pickle

In [10]:
import warnings
warnings.filterwarnings('ignore')

In [102]:
df = pd.read_csv('ds_salaries.csv',index_col=0)

In [103]:
n_df = pd.DataFrame(df.job_title.value_counts()).reset_index().head(8)
sm = n_df['job_title'].sum()
sm

460

In [104]:
df['new'] = df['job_title'].map(df['job_title'].value_counts())


data = df.sort_values(['new','job_title'], ascending=[False, True]).drop('new', axis=1).head(sm+8)

In [105]:
n_df = pd.DataFrame(data.company_location.value_counts()).reset_index().head(12)
sm = n_df['company_location'].sum()
sm

428

In [106]:
data['new'] = data['company_location'].map(data['company_location'].value_counts())


data = data.sort_values(['new','company_location'], ascending=[False, True]).drop('new', axis=1).head(sm)

In [107]:
data = data[['experience_level','job_title','salary_in_usd','remote_ratio','company_size','company_location']]

In [108]:
data['remote_ratio'] = data['remote_ratio'].astype('category')
# data['salary_in_usd'] = data['salary_in_usd'].astype('float')

In [109]:
k = pd.DataFrame(np.nan_to_num(data))
k.columns = data.columns

data = k
data

,experience_level,job_title,salary_in_usd,remote_ratio,company_size,company_location
0,SE,Data Scientist,68428,100,L,US
1,MI,Data Scientist,45760,100,S,US
2,MI,Data Scientist,105000,100,L,US
3,MI,Data Scientist,118000,100,M,US
4,SE,Data Scientist,120000,50,L,US
...,...,...,...,...,...,...
423,MI,Machine Learning Engineer,74000,50,S,JP
424,SE,Machine Learning Scientist,260000,0,S,JP
425,MI,Data Scientist,35590,100,L,PL
426,MI,Data Engineer,28476,100,L,PL
427,MI,Machine Learning Engineer,46597,100,L,PL

In [110]:
data.to_csv('ds_salaries_new.csv')

In [111]:
for column in ['experience_level' , 'job_title' , 'remote_ratio' ,'company_size','company_location']:
    dummies = pd.get_dummies(data[column], prefix=column)
    data[dummies.columns] = dummies
    del data[column]

In [112]:
X = data.drop('salary_in_usd' ,axis = 1)
y = data['salary_in_usd']
y=y.astype('int')

In [113]:
X_train, X_test, y_train, y_test = train_test_split(
 X, y, test_size=0.33, random_state=42)

In [114]:
model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model.fit(X_train, y_train)

RandomForestClassifier(max_depth=5, random_state=1)

In [115]:
pickle.dump(model, open('model.pkl', 'wb'))